body {
    background-color: teal;
    font-family: 'Cinzel', serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h1 {
    background-color: whitesmoke;
}

h2 {
    display: inline-block;
}

#time {
    font-size: 35px;
    float: right;
    margin-right: 20px;
}

#score {
    font-size: 35px;
    margin-left: 20px;
}

button {
    float: right;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 14px;
}

#myCanvas {
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px gray;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: canv;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes canv {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p {
    font-size: 18px;
}

span {
    padding-top:10px;
    font-size:25px;   
}